@import "styles/palette";
@import "styles/mixins";

.modal {
  &_cover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $opacityRgba;
  }

  &_wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    width: 100%;
    max-width: 400px;
    margin: 0 50px;
    border-radius: 6px;
    overflow: hidden;
    z-index: 30;
  }

  &_header {
    background-color: $green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 16px;

    .close_icon {
      fill: $white;
      transition: all .3s ease;
    }

    .close_icon__wrapper {
      @include icon_wrapper(transparent);

      &:hover {
        background-color: $white;

        .close_icon {
          fill: $green !important;
        }
      }
    }

    &__text {
      font-size: 18px;
      color: $white;
    }
  }

  &_content {
    background-color: $white;
    padding: 30px 16px;

    &__text {
      font-size: 16px;
      color: $black
    }

    &__input {
      position: relative;

      input {
        @include input();
      }

      @include underline($greyLight, $grey);

      &:focus-within:after {
        transform: scale(1);
      }
    }

    &__upload {
      position: relative;
      padding: 12px 24px;
      border-radius: 6px;
      font-size: 18px;
      color: $green;
      border: 1px dashed $green;
      transition: all .3s ease;
      text-align: center;
      cursor: pointer;
      margin: 0 auto;
      display: block;
      width: fit-content;

      &:hover {
        color: $greenDark;
        border: 1px dashed $greenDark;
      }
    }

    &__preview {
      position: relative;
      margin-top: 30px;

      .image {
        min-width: 350px;
        min-height: 450px;
        max-width: 550px;
        max-height: 550px;
        background-color: $greenLight;

        &.loading {
          position: relative;

          &:before {
            content: '';
            position: absolute;
            left: -45%;
            height: 100%;
            width: 45%;
            background-image: linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
            background-image: -moz-linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
            background-image: -webkit-linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
            animation: loading 1s infinite;
            z-index: 45;
          }
        }
      }
    }

    &__info {
      position: absolute;
      width: 100%;
      top: -45px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        font-size: 16px;
        font-weight: 500;
        color: $greyDark;
      }

      .icons_wrapper {
        display: grid;
        grid-template-columns: 24px 24px;
        grid-column-gap: 10px;
      }

      .icon_wrapper {
        @include icon_wrapper($grey);
        padding: 0;
        width: 24px;
        height: 24px;

        &:hover {
          background-color: unset;
        }
      }

      .action_icon {
        fill:  $greyDark;

        &:hover {
          fill: $green;
        }
      }

      .download_icon {
        height: 20px;
      }
    }
  }

  &_footer {
    border-top: 1px solid $grey;
    background-color: $white;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
  }

  &_submit {
    @include button($green);

    &__disabled {
      background-color: lighten($green, 40%);
      cursor: default;
      pointer-events: none;
    }
  }
}

@keyframes loading {
  0%{
    left: -45%;
  }
  100%{
    left: 100%;
  }
}








